# Change to docker-compose.yml and change any variables to your local ones
# Than run docker-compose up --build in the same directory as this file

version: '3'

services:
  mysql:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: Iris_Database
      MYSQL_USER: root
      MYSQL_PASSWORD: root
    ports:
      - "3306:3306"
    networks:
      - app-network
    volumes:
      - path/to/db/script:/docker-entrypoint-initdb.d/iris_db_mysql.sql # Change this to your
      # local path and the script file
      # This is the database file that will be used to create the database
      - db:/var/lib/mysql

  iris_app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - mysql
    environment:
      PORT: changeme # Change
      IP_ADDR: changeme # Local ip of the host machine (if running another websocket server)
      MYSQL_HOST: mysql
      MYSQL_PORT: 3306
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_DATABASE: Iris_Database
    networks:
      - app-network
    volumes:
      - local/path/to/code:/app # Change this to your local path

networks:
  app-network:
    driver: bridge

volumes:
    db:
